
body {
  background-color: #CCEAEB;
  font-family: 'Arvo', serif;
}

#content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

input {
  font-family: 'Arvo', serif;
}

#canvas {
  margin-left: 50px;
  
}

#menuBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: row;
}

#icons {
  display: flex;
  flex-direction: row;
}

.icon {
  margin: 0px 10px;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: black;
}

.icon img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin: 5px;
  margin-right: 10px;
}

button {
  width: 100px;
  height: 30px;
  font-family: 'Arvo', serif;
  border: none;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

button:hover {
  border: 2px solid white;
}

button:disabled, button[disabled] {
  background-color: gray;
  color: black;
  border: 1px solid black;
}

label {
  font-size: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

#refresh {
  margin-left: 10px;
  margin-top: -5px;
}

#heading {
  text-align: center;
}
@media only screen and (max-width: 1300px) {
  #menuBar {
    flex-direction: column;
    text-align: center;
  }

  .icon img {
    height: 30px;
    width: 30px;
  }

  .icon h3 {
    font-size: 12px;
  }

  #footer h3 {
    font-size: 12px;
  }

  #canvas {
    margin-top: 150px;
  }
  #row2 {
    margin-top: 40px;
  }

  #row2 button {
    margin-left: 10px;
    margin-right: 10px;
  }
}


@media only screen and (max-width: 900px) {
  input[type=range] {
    width: 100px !important;
  }
}

@media only screen and (min-width:0px) and (max-width:600px)
{
  #heading {
    font-size: 20px;
  }

  label {
    font-size: 15px;
  }

  input[type=range] {
    height: 20px !important;
    width: 110px !important;
  }

  button {
    font-size: 10px;
    width: 80px;
    height: 20px;
    margin-top: 5px;
  }

  #canvas {
    margin: 0px;
    margin-left: 50px;
    margin-top: 30px;
  }

  #footer h3 {
    font-size: 9px;
  }

  #footer img {
    width: 15px;
    height: 15px;
  }
}